* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

body {
     font-family: 'inter', sans-serif;
}

:root {
     --header-bgcolor: #F55A5A;
     --p-color: #2B283A;
     --header-color: #2B283A;
     --header-link-color: #918E9B;
     --header-logo-color: #DADADA;
     --header-text-color: #FFFFFF;
}

header {
     height: 55px;
     width: 100%;
     background-color: var(--header-bgcolor);
     display: flex;
     align-items: center;
     justify-content: center;
}
header > p {
     font-size: 12px;
     color: var(--header-text-color);
}

header > i {
     color: var(--header-logo-color);
     font-size: 1rem;
}

main {
     padding: 20px;
     background-color: #efefef;
}

.card {
     display: flex;
     padding: 15px 0px;
}

.card-img {
     width: 125px;
}

.card-details {
     padding: 15px 0px 15px 15px;
}

.card-details .location, .date-range {
     font-size: 10.24px;
     line-height: 12.39px;
     font-weight: 400;
     padding-bottom: 5px;
}

.date-range {
     font-weight: 700;
}
.card-details .location > i {
     color: #F55A5A;
}
.card-details .location > span {
     color: var(--header-color);
}

.card-details .location > a {
     color: var(--header-link-color);
}

.card-details > h1 {
     font-size: 25px;
     padding-bottom: 10px;
     line-height: 30.26px;
     color: var(--header-color);
}

.description {
     font-size: 10.24px;
     line-height: 15.36px;
     font-weight: 400;
     color: var(--p-color)
}